<!-- <pre><code>{{store.cards() | json}}</code></pre> -->
<table>
  <tr>
    <th>Pokemon Id</th>
    <th>Pokemon Name</th>
    <th>Imagen</th>
    <th>More Info</th>
  </tr>
  @for (card of store.cards(); track $index) {
  <tr>
    <td>{{card.id}}</td>

    <td>{{card.name}}</td>

    <td>
      <img src="{{card.image}}" alt="{{card.name}}" />
    </td>
    <td>
      <a href="{{card.url}}" target="_blank">More Info</a>
    </td>
  </tr>
  }
</table>

Current page => {{page()}}

<button (click)="nextPage()">Next Page</button>

<pre><code>
    <!-- Quantity of Spell Cards => {{store.spellCards()}} -->
</code></pre>
